@import "tailwindcss";

@theme {
  /* Renk Tanımları */
  --color-primary: #ea580c;
  --color-primary-dark: #c2410c;
  --color-background-light: #fffaf5;
  --color-background-dark: #1c1917;
  --color-accent-yellow: #fbbf24;
  --color-accent-blue: #fdba74;
  --color-accent-coral: #fb7185;
  --color-text-main: #431407;
  --color-text-muted: #78350f;

  /* Font Tanımları */
  --font-display: var(--font-display); 
  
  /* Border Radius - Tailwind v4 varsayılanlarını eziyoruz veya genişletiyoruz */
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

/* Custom Utilities */
@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}